/* 設計師專用 */
@charset "utf-8";
*{
	font-family:Verdana,"新細明體", sans-serif;
}
body{
	margin:0;
	padding:0;
	background:#fff;
}

a{
	outline:none;
}
img{
	border:none;
}
form{
	margin:0;
	padding:0;
}
textarea{
	margin:0;
	padding:3px;
	border:1px solid #888;
	font-size:12px;
}
select{
	margin:0;
	padding:0;
	border:1px solid #888;
}
.input_text{
	margin:0;
	padding:0 3px;
	border:1px solid #888;
	height:20px;
	line-height:20px;
}
.input_password{
	margin:0;
	padding:0;
	border:1px solid #888;
	height:20px;
	line-height:20px;
}
.input_file{
	/**/
}
.input_checkbox{
	/*border:1px solid #888;*/
}



/* 按鈕
----------------------------------*/
.btn_01{
	text-decoration:none;
}
.btn_02{
	display:inline-block;
	text-decoration:none;
	margin:0;
	padding:0 0 0 10px;
	background:url(images/btn_02.png) left 0 no-repeat;
	height:20px;
	cursor:pointer;
}
.btn_02 span{
	display:inline-block;
	margin:0;
	padding:0 30px 0 0;
	background:url(images/btn_02.png) right 0 no-repeat;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#fff;
	cursor:pointer;
}
.btn_02:hover{
	background:url(images/btn_02.png) left -50px no-repeat;	
}
.btn_02:hover span{
	background:url(images/btn_02.png) right -50px no-repeat;
}


.btn_06{
	display:inline-block;
	text-decoration:none;
	margin:0;
	padding:0 0 0 10px;
	background:url(images/btn_03.png) left 0 no-repeat;
	height:22px;
	text-align:center;
	cursor:pointer;
}
.btn_06 span{
	display:inline-block;
	margin:0;
	padding:0 20px 0 0;
	background:url(images/btn_03.png) right 0 no-repeat;
	height:22px;
	line-height:22px;
	font-size:12px;
	color:#333;
	cursor:pointer;
}
.btn_06:hover{
	background:url(images/btn_03.png) left -50px no-repeat;	
}
.btn_06:hover span{
	background:url(images/btn_03.png) right -50px no-repeat;
}

.btn_07{
	display:block;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#ffdd53;
	font-size:12px;
	color:#333;
	line-height:25px;
	height:25px;
	text-decoration:none;
	text-align:center;
	margin:10px 0 0 0;
}
.btn_07:hover{
	background:#eaca48;
}



/* 版面
----------------------------------*/
.layout_01{
	margin:0;
	padding:0;
}
.layout_01 .layout_01_01{
	margin:0;
	padding:0;
	text-align:left;
}
.layout_01 .layout_01_02{
	margin:0;
	padding:0;
	text-align:right;
}
.layout_01 .layout_01_03{
	margin:0;
	padding:0;
	text-align:right;
	width:220px;
}

.layout_02{
	margin:0;
	padding:0;
}
.layout_02 .layout_02_01{
	margin:0;
	padding:0;
	text-align:left;
	width:100px;
}
.layout_02 .layout_02_02{
	margin:0;
	padding:0;
	text-align:left;
}

.layout_03{
	margin:0;
	padding:0;
}
.layout_03 .layout_03_01{
	margin:0;
	padding:0 20px 0 0;
	width:160px;
}
.layout_03 .layout_03_02{
	margin:0;
	padding:0;
}

.layout_04{
	margin:0;
	padding:0;
}
.layout_04 .layout_04_01{
	margin:0;
	padding:0 10px 0 0;
	width:190px;
}
.layout_04 .layout_04_02{
	margin:0;
	padding:0;
}

/* 共用區塊
----------------------------------*/
.innerwrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}
.wrapper{
	margin:0;
	padding:0;
}
.container{
	margin:0 0 20px 0;
	padding:0;
}

/* top 區塊 */
.top{
	margin:0;
	padding:0;
	height:70px;
}
.top .logo_box a{
	text-decoration:none;
}

.top .nav_box{
	font-size:13px;
	color:#333;
}
.top .nav_box a{
	text-decoration:none;
	font-size:13px;
	color:#333;
}
.top .nav_box a:hover{
	color:#ff6c00;
}
.top .nav_box form{
	display:inline;
	margin:0 0 0 10px;
}
.top .nav_box form .input_text{
	margin:0;
	padding:0 3px;
	border:1px solid #333;
	height:20px;
	line-height:20px;
}
.top .nav_box form .btn_submit{
	margin:0;
	padding:1px 10px 20px 10px;
	background:#333;
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#fff;
	border:none;
}
.top .search_box{
	margin:0 0 0 5px;
	padding:0;
	width:200px;
}



/* header_home 區塊 */
.header_home{
	margin:0;
	padding:0;
}
.header_home .innerwrapper{
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
}
.header_home .banner_box{
	background:url(images/banner.png) 50% 0 repeat-x;
	height:240px;
}

/* header 區塊 */
.header{
	margin:0;
	padding:0;
}
.header .innerwrapper{
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
}
.header .banner_box{
	background:url(images/banner_B.png) 50% 0 repeat-x;
	height:150px;
}
.header .banner_box .subject_link{
	width: 590px;
	margin: 0 auto;
	padding:22px 0 0 500px;
}
.header .banner_box .subject_link a{
	
}


/* crumbs 區塊 */
.crumbs{
	margin:0 0 20px 0;
	padding:0;
	background:#f6f6f6;
}
.crumbs .crumbs_box{
	height:30px;
	font-size:12px;
	color:#333;
	line-height:30px;
}
.crumbs .crumbs_box a{
	text-decoration:none;
	font-size:12px;
	color:#333;
	line-height:30px;
}
.crumbs .crumbs_box a:hover{
	color:#ff6c00;
}
.crumbs .crumbs_box .crumbs_home{
	display:inline-block;
	margin:0;
	padding:0 0 0 15px;
	background:url(images/crumbs_home.png) 0 0 no-repeat;
}

/* footer 區塊 */
.footer{
	margin:0;
	padding:20px 0;
	background:#f3f3f3;
}
.footer .footer_01{
	margin:0;
	padding:0 0 5px 0;
	font-size:12px;
	color:#333;
}
.footer .footer_01 a{
	text-decoration:none;
	font-size:12px;
	color:#ae275a;
}
.footer .footer_02{
	margin:0;
	padding:0;
	font-size:12px;
	color:#333;
}
.footer .footer_03{
	margin:0 0 5px 0;
	padding:0;
	font-size:12px;
	color:#333;
}


/* 區塊
----------------------------------*/
/* 主題選單 區塊 */
.subject_home{
	margin:0;
	padding:0;
}
.subject_home .subject_link{
	margin:0;
	padding:0;
}
.subject_home .subject_link a{
	display:block;
	margin:0 0 10px 0;
	padding:0;
	text-decoration:none;
}

/* 最新消息 區塊 */
.news_home{
	margin:0;
	padding:0;
}
.news_home .title .more_btn{
	margin:0 0 0 625px;
	padding:0;
}
.news_home .news_home_table{
	margin:0 0 10px 0;
	padding:0;
}
.news_home .news_home_table .news_home_td_01{
	margin:0;
	padding:0 10px 10px 0;
	font-size:12px;
	line-height:20px;
	color:#555;
	width:80px;
}
.news_home .news_home_table .news_home_td_02{
	margin:0;
	padding:0 10px 10px 0;
	width:50px;
}
.news_home .news_home_table .news_home_td_02 span{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	margin:0;
	padding:0 10px;
	background:#57c5ed;
	font-size:12px;
	color:#fff;
	line-height:20px;
	height:20px;
}
.news_home .news_home_table .news_home_td_03{
	margin:0;
	padding:0 0 10px 0;
}
.news_home .news_home_table .news_home_td_03 a{
	font-size:15px;
	color:#555;
	line-height:20px;
	text-decoration:none;
}
.news_home .news_home_table .news_home_td_03 a:hover{
	color:#ff6c00;
}



/* 消息列表 區塊 */
.news{
	margin:0;
	padding:0;
}
.news .news_table{
	margin:0 0 10px 0;
	padding:0;
}
.news .news_table .news_td_01{
	margin:0;
	padding:0 20px 10px 0;
	font-size:12px;
	line-height:20px;
	color:#555;
	width:80px;
}
.news .news_table .news_td_02{
	margin:0;
	padding:0 20px 10px 0;
	width:60px;
}
.news .news_table .news_td_02 span{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	margin:0;
	padding:0 10px;
	background:#57c5ed;
	font-size:12px;
	color:#fff;
	line-height:20px;
	height:20px;
}
.news .news_table .news_td_03{
	margin:0;
	padding:0 0 10px 0;
}
.news .news_table .news_td_03 a{
	font-size:15px;
	color:#555;
	line-height:20px;
	text-decoration:none;
}
.news .news_table .news_td_03 a:hover{
	color:#ff6c00;
}
.news .bottom{
	margin:0 0 30px 0;
	padding:0;
	text-align:center;
}

/* 相關連結 區塊 */
.link{
	margin:0 0 50px 0;
	padding:0;
}
.link .link_box{
	margin:0;
	padding:0 0 0 10px;
	overflow:auto;
}
.link .link_box a{
	display:block;
	text-decoration:none;
	margin:0 10px 10px 0;
	padding:0 0 0 10px;
	background:url(images/btn_07.png) 0 0 no-repeat;
	width:310px;
	height:30px;
	font-size:12px;
	color:#555;
	line-height:30px;
	float:left;	
}
.link .link_box a:hover{
	background:url(images/btn_07.png) 0 -50px no-repeat;
}


/* 選單列表_首頁 區塊 */
.catalog{
	margin:0 0 50px 0;
	padding:0;
	overflow:auto;
}
.catalog .innerwrapper{
	margin: 0 auto;
	width: 100%;
	max-width: 1010px;
}
.catalog .catalog_box{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background:#f7f7f7;
	margin:0 5px 0 5px;
	padding:10px;
	width:172px;
	float:left;
}
.catalog .catalog_box .catalog_icon{
	width:172px;
	height:100px;
	margin:0 0 10px 0;
	padding:0;
	text-align:center;
}
.catalog .catalog_box .catalog_list{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background:#ebebeb;
	margin:0;
	padding:10px;
}
.catalog .catalog_box .catalog_list div{
	display:block;
	margin:0 0 10px 0;
	padding:0;
	font-size:12px;
	color:#555;
	line-height:18px;
}
.catalog .catalog_box .catalog_list a{
	display:block;
	margin:0;
	padding:0;
	font-size:12px;
	color:#555;
	line-height:18px;
	text-decoration:none;
}
.catalog .catalog_box .catalog_list a:hover{
	color:#ff6c00;
}




/* 消息詳細 區塊 */
.news_detail{
	margin:0 0 50px 0;
	padding:0;
}
.news_detail .news_detail_date{
	margin:0 0 10px 0;
	padding:0;
	font-size:13px;
	color:#555555;
	text-align:right;
}
.news_detail .news_detail_title{
	margin:0 0 10px 0;
	padding:0 0 5px 0;
	border-bottom:2px solid #e5e5e5;
	color:#555;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
}
.news_detail .news_detail_content{
	margin:0 0 20px 0;
	padding:0;
	font-size:15px;
	color:#555;
	line-height:30px;
}
.news_detail .file_list{
	margin:0;
	padding:0;
}
.news_detail .file_list ul{
	margin:0;
	padding:0;
}
.news_detail .file_list ul li{
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
}
.news_detail .file_list ul li a{
	margin:0;
	padding:0 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	display:block;
	font-size:13px;
	line-height:35px;
	color:#555;
	background:#fffded;
	border:#ccc solid 1px;
	text-decoration:none;
}
.news_detail .file_list ul li a:hover{
	background:#fff0e3;
}


/* 選單頁左側 區塊 */
.catalog_list_box{
	margin:0;
	padding:0;
}
.catalog_list_box a{
	display:block;
	text-decoration:none;
	margin:0 0 10px 0;
	padding:0;
}

/* 選單頁次分類 區塊 */
.catalog_sublist_box{
	margin:0 0 30px 0;
	padding:0 0 10px 0;
	border-bottom:3px solid #ffdf5c;
	overflow:auto;
}
.catalog_sublist_box a{
	display:block;
	margin:0 5px 10px 5px;
	padding:8px 10px;
	width:170px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#aee3ff;
	font-size:12px;
	color:#466f84;
	line-height:16px;
	text-decoration:none;
	float:left;
}
.catalog_sublist_box a:hover, .catalog_sublist_box .hover{
	background:#ffdf5c;
	color:#333;
}


/* 選單頁內容 區塊 */
.catalog_content_box{
	margin:0;
	padding:0;
}
.catalog_content_box .catalog_content{
	margin:0 0 20px 0;
	padding:0;
}
.catalog_content_box .catalog_file_list{
	margin:0 0 20px 0;
	padding:0;
}

/* 相關連結 區塊 */
.main_link{
	margin:0;
	padding:0;
}
.main_link .link_title{
	font-size:15px;
	color:#519a9b;
	font-weight:bold;
	margin:0 0 10px 0;
	padding:0 10px;
}
.main_link .link_box{
	margin:0 0 20px 0;
	padding:0 10px;
}
.main_link .link_box a{
	display:block;
	text-decoration:none;
	background:#fffded;
	border:1px solid #ccc;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-size:13px;
	color:#555;
	line-height:33px;
	height:33px;
	margin:0 0 10px 0;
	padding:0 0 0 10px;
}
.main_link .link_box a:hover{
	background:#fff0e3;
}
.main_link .link_box .link_icon{
	background:#fffded url(images/link_icon.png) 950px 50% no-repeat;
}
.main_link .link_box .link_icon:hover{
	background:#fff0e3 url(images/link_icon.png) 950px 50% no-repeat;
}
.main_link .link_box .download_icon{
	background:#fffded url(images/download_icon.png) 950px 50% no-repeat;
}
.main_link .link_box .download_icon:hover{
	background:#fff0e3 url(images/download_icon.png) 950px 50% no-repeat;
}


/* 相關法規 區塊 */
.main_law{
	margin:0;
	padding:0;
}
.main_law .link_title{
	font-size:15px;
	color:#519a9b;
	font-weight:bold;
	margin:0 0 10px 0;
	padding:0 10px;
}
.main_law .link_box{
	margin:0 0 20px 0;
	padding:0 10px;
}
.main_law .link_box a{
	display:block;
	text-decoration:none;
	background:#fffded;
	border:1px solid #ccc;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-size:13px;
	color:#555;
	line-height:33px;
	height:33px;
	margin:0 0 10px 0;
	padding:0 0 0 10px;
}
.main_law .link_box a:hover{
	background:#fff0e3;
}
.main_law .link_box .link_icon{
	background:#fffded url(images/link_icon.png) 950px 50% no-repeat;
}
.main_law .link_box .link_icon:hover{
	background:#fff0e3 url(images/link_icon.png) 950px 50% no-repeat;
}
.main_law .link_box .download_icon{
	background:#fffded url(images/download_icon.png) 950px 50% no-repeat;
}
.main_law .link_box .download_icon:hover{
	background:#fff0e3 url(images/download_icon.png) 950px 50% no-repeat;
}


/* 常見問答集 區塊 */
.main_faq{
	margin:0;
	padding:0;
}
.main_faq .faq_title{
	font-size:15px;
	color:#519a9b;
	font-weight:bold;
	margin:0 0 5px 0;
	padding:0 10px;
}
.faq_box{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin:0 5px 10px 5px;
	padding:10px 10px 5px 10px;
	border:1px solid #CCC;
}
.faq_box .faq_q{
	margin:0 0 5px 0;
	padding:0;
	font-size:13px;
	line-height:20px;
	font-weight:bold;
}
.faq_box .faq_a{
	margin:0 0 10px 0;
	padding:0;
	font-size:12px;
	color:#555;
	line-height:18px;
}

/* 網站導覽 區塊 */
.sitemap{
	margin:0;
	padding:0;
}
.sitemap_help{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border:1px solid #ccc;
	margin:0 50px 20px 50px;
	padding:20px;
	font-size:15px;
	color:#555;
	line-height:22px;
}
.sitemap_title{
	margin:0 50px 0 50px;
	font-size:15px;
	color:#333;
}
.sitemap_list{
	margin:0 50px 20px 90px;
	padding:0;
}
.sitemap_list li{
	margin:0 0 10px 0;
	padding:0;
	font-size:15px;
	color:#555;
	line-height:20px;
}
.sitemap_list li a{
	color:#5aa48d;
	text-decoration:none;
}
.sitemap_list li a:hover{
	color:#ff6c00;
}


/* 選單頁內容設計
----------------------------------*/
/* Level 01 */
.cc_Lv01_title{
	font-size:15px;
	color:#555;
	font-weight:bold;
	margin:0 0 10px 0;
	padding:0 10px;
}
.cc_Lv01_title_b{
	font-size:13px;
	color:#555;
	font-weight:bold;
	margin:0 0 5px 0;
	padding:0 10px;
}
.cc_Lv01_list{
	margin:0 0 30px 40px;
	padding:0;
}
.cc_Lv01_list li{
	margin:0 0 10px 0;
	padding:0;
	font-size:15px;
	color:#555;
	line-height:20px;
}
.cc_Lv01_txt{
	margin:0 0 10px 0;
	padding:0 10px;
	font-size:15px;
	color:#555;
	line-height:20px;
}
.cc_Lv01_txt_b{
	margin:0 0 10px 0;
	padding:0 10px;
	font-size:13px;
	color:#3faaba;
	line-height:20px;
}
.cc_Lv01_table{
	margin:0 0 10px 0;
	padding:0 10px;
	font-size:15px;
	color:#555;
	line-height:20px;
}
.cc_Lv01_pic{
	margin:0;
	padding:0 10px;
	text-align:center;
}
.cc_Lv01_iframe{
	margin:0 0 10px 0;
	padding:0 10px;
}
.catalog_content_list_box{
	margin:0;
	padding:0 10px 5px 10px;
	overflow:auto;
}
.catalog_content_list_box a{
	text-decoration:none;
	display:inline-block;
	float:left;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#8b7dc0;
	font-size:13px;
	color:#fff;
	line-height:26px;
	height:26px;
	margin:0 10px 0 0;
	padding:0 20px;
}
.catalog_content_list_box a:hover, .catalog_content_list_box .hover{
	background:#645a87;
}
	


/* Level 02 */
.cc_Lv02_box{
	margin:5px 0 0 20px;
	padding:0;
}
.cc_Lv02_list{
	margin:5px 0 0 50px;
	padding:0;
}
.cc_Lv02_list li{
	margin:0 0 10px 0;
	padding:0;
	font-size:15px;
	color:#555;
	line-height:20px;
}

/* Level 03 */
.cc_Lv03_box{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin:0 0 10px 0;
	padding:10px 20px;
	background:#eee;
}

/* Level 04 */
.cc_Lv04_pic{
	margin:0;
	padding:0;
	text-align:center;
}

/* table 表格 */
.cc_table_01{
	background:#333;
}
.cc_table_01 caption{
	font-weight:bold;
	margin:0;
	padding:0 0 10px 0;
}
.cc_table_01 th{
	background:#f2f2f2;
	font-size:13px;
	margin:0;
	padding:5px;
}
.cc_table_01 td{
	background:#fff;
	font-size:13px;
	margin:0;
	padding:5px;
}

.cc_table_01 td .s_01{
	color:#d43f3f;
}


/* 選單頁相關檔案設計
----------------------------------*/
/* Level 01 */
.cf_Lv01_title{
	font-size:13px;
	color:#555;
	font-weight:bold;
	margin:0 0 10px 0;
	padding:0 10px 10px 10px;
	border-bottom:2px solid #e5e5e5;
}
.cf_Lv01_title_b{
	font-size:15px;
	color:#519a9b;
	font-weight:bold;
	margin:0 0 10px 0;
	padding:0 10px;
}
.cf_Lv01_list{
	margin:0 0 20px 0;
	padding:0 10px;
}
.cf_Lv01_list a{
	display:block;
	text-decoration:none;
	background:#fffded;
	border:1px solid #ccc;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-size:13px;
	color:#555;
	line-height:33px;
	height:33px;
	margin:0 0 10px 0;
	padding:0 0 0 10px;
}
.cf_Lv01_list a:hover{
	background:#fff0e3;
}
.cf_Lv01_list .link_icon{
	background:#fffded url(images/link_icon.png) 750px 50% no-repeat;
}
.cf_Lv01_list .link_icon:hover{
	background:#fff0e3 url(images/link_icon.png) 750px 50% no-repeat;
}
.cf_Lv01_list .download_icon{
	background:#fffded url(images/download_icon.png) 750px 50% no-repeat;
}
.cf_Lv01_list .download_icon:hover{
	background:#fff0e3 url(images/download_icon.png) 750px 50% no-repeat;
}

/* 其他
----------------------------------*/
.title{
	margin:0 0 10px 0;
	padding:0 0 5px 0;
	border-bottom:2px solid #e5e5e5;
	color:#555;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
}

.page{
	text-align:center;
}
.page .page_pp{
	text-decoration:none;
	line-height:100px;
}
.page .page_p{
	text-decoration:none;
	line-height:100px;
}
.page .page_n{
	text-decoration:none;
	line-height:100px;
}
.page .page_nn{
	text-decoration:none;
	line-height:100px;
}
.page .page_num{
	text-decoration:none;
	font-size:15px;
	color:#555;
	line-height:100px;
}
.page .page_num:hover{
	color:#ff6c00;
}

.txt_01{
	color:#00b0f0;
}