/* 設計師專用 */
@charset "utf-8";
*{
	font-family:Verdana,"新細明體", sans-serif;
}
body{
	margin:0;
	padding:0;
	background:#fff;
}

a{
	outline:none;
}
img{
	border:none;
}
form{
	margin:0;
	padding:0;
}
textarea{
	margin:0;
	padding:3px;
	border:1px solid #ccc;
	font-size:12px;
}
select{
	margin:0;
	padding:0;
	border:1px solid #ccc;
}
.input_text{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:0;
	padding:0 3px;
	border:1px solid #ccc;
	height:24px;
	line-height:24px;
}
.input_password{
	margin:0;
	padding:0;
	border:1px solid #ccc;
	height:20px;
	line-height:20px;
}
.input_file{
	/**/
}
.input_checkbox{
	/*border:1px solid #888;*/
}



/* 按鈕
----------------------------------*/
.btn_01{
	display:block;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#ffdd53;
	font-size:12px;
	color:#333;
	line-height:25px;
	height:25px;
	text-decoration:none;
	text-align:center;
	margin:0;
}
.btn_01:hover{
	background:#eaca48;
}

.btn_02{
	display:inline-block;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#ffdd53;
	font-size:12px;
	color:#333;
	line-height:24px;
	height:24px;
	text-decoration:none;
	text-align:center;
	margin:0 10px 0 0;
	padding:0 10px;
	cursor:pointer;
}
.btn_02:hover{
	background:#eaca48;
}



.btn_03{
	display:block;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#ffdd53;
	font-size:12px;
	color:#333 !important;
	line-height:22px;
	height:22px;
	text-decoration:none;
	text-align:center;
	margin:0 0 5px 0;
	padding:0;
	width:85px;
	cursor:pointer;
}
.btn_03:hover{
	background:#eaca48;
}



/* 共用區塊
----------------------------------*/
.innerwrapper {
	margin: 0 auto;
	width: 100%;
}
.wrapper{
	margin:0;
	padding:0;
}
.container{
	margin:0 10px 20px 10px;
	padding:0;
	overflow:auto;
}


/* header 區塊 */
.header{
	margin:0 0 10px 0;
	padding:45px 10px 0 10px;
	background:url(images/header.png) 50% 0 repeat-x;
	height:105px;
}


/* footer 區塊 */
.footer{
	margin:0;
	padding:20px 10px;
	background:#f3f3f3;
}
.footer .footer_01{
	margin:0 0 5px 0;
	padding:0;
	font-size:12px;
	color:#333;
}
.footer .footer_02{
	margin:0;
	padding:0 0 5px 0;
	font-size:12px;
	color:#333;
}
.footer .footer_02 a{
	text-decoration:none;
	font-size:12px;
	color:#ae275a;
}
.footer .footer_03{
	margin:0;
	padding:0;
	font-size:12px;
	color:#333;
}


/* 區塊
----------------------------------*/
/* 登入 區塊 */
.login{
	margin:100px 0 0 0;
	text-align:center;
}
.login table{
	border:2px solid #e2e2e2;
	font-size:13px;
}
.login table th{
	/**/
}
.login table td{
	padding:10px 5px;
}
.login table td .login_bottom{
	padding:0 10px 5px 10px;
}

.login .login_footer{
	padding:5px 0 0 0;
	font-size:12px;
	line-height:18px;
	color:#4c4743;
}

/* menu 區塊 */
.menu{
	margin:0 10px 0 0;
	padding:0;
	width:200px;
	float:left;
}
.menu a{
	display:block;
	margin:0 0 1px 0;
	padding:0 10px;
	height:35px;
	line-height:35px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.menu .menu_link_a{
	background:#ba85c0;
	text-align:left;
	font-size:15px;
}
.menu .menu_link_a:hover{
	background:#a76fad;
}
.menu .menu_link_b{
	background:#6ec5a2;
	text-align:right;
	font-size:13px;
}
.menu .menu_link_b:hover{
	background:#60b995;
}

/* browse 區塊 */
.browse{
	margin:0 0 0 210px;
	padding:0;
	width:auto;
}

.func{
	margin:0 0 10px 0;
	padding:0;
	overflow:auto;
}
.func .func_in_2{
	margin:0 0 10px 0;
}


.list{
	margin:0;
	padding:0;
}
.list .summary_text{
	font-size:13px;
	padding:0 0 5px 0;
}
.list .summary_text span{
	font-weight:bold;
}
.list table{
	margin:0;
	padding:0;
}
.list table th{
	margin:0;
	padding:0 5px;
	background:#f6f6f6;
	font-size:13px;
	color:#333;
	line-height:30px;
	height:30px;
	text-align:left;
}
.list table td{
	margin:0;
	padding:10px 5px;
	font-size:13px;
	color:#333;
	line-height:18px;
	border-bottom:1px dashed #888;
}
.list table td a{
	color:#ed922f;
	line-height:18px;
	text-decoration:none;
}
.list table td a:hover{
	color:#c7761e;
}
.list table td ul{
	margin:0;
	padding:0;
}
.list table td ul li{
	color:#ed922f;
	line-height:18px;
	list-style-type:none;
}
.list table td ul li a{
	color:#ed922f;
	line-height:18px;
	text-decoration:none;
}
.list table td ul li a:hover{
	color:#c7761e;
}

/* view 區塊 */
.view{
	margin:0 0 0 210px;
	padding:0;
	width:auto;
}

/* detail 區塊 */
.detail{
	margin:0;
	padding:0;
}
.detail table{
	margin:0;
	padding:0;
}
.detail table th{
	margin:0;
	padding:10px 10px;
	background:#f6f6f6;
	font-size:13px;
	color:#333;
	text-align:right;
	width:120px;
	font-weight:normal;
	border-bottom:1px dashed #888;
}
.detail table td{
	margin:0;
	padding:10px 10px;
	font-size:13px;
	color:#333;
	line-height:18px;
	border-bottom:1px dashed #888;
}

/* detail_note 區塊 */
.detail_note {
	color: #000000;
	font-size: 12px;
	margin: 10px 0px 0px 0px;
	padding: 3px 10px 10px 10px;
	background-color: #fffedd;
	border: 1px solid #ffc600;
}

.detail_note_title {
	font-weight: bold;
	color: #ffc600;
	line-height: 24px;
}

.detail_note_content {
	font-weight: normal;
	color: #000000;
}


/* row 區塊 */
.row{
	margin:20px 0 20px 0;
	padding:5px;
	border:2px solid #f3981d;
}

/* appfile 區塊 */
.appfile{
	margin:0;
	padding:0;
}
.appfile table{
	margin:0 0 10px 0;
	padding:0;
}
.appfile table th{
	margin:0;
	padding:10px 10px;
	background:#f6f6f6;
	font-size:13px;
	color:#333;
	text-align:right;
	width:120px;
	font-weight:normal;
	border-bottom:1px dashed #888;
}
.appfile table td{
	margin:0;
	padding:10px 10px;
	font-size:13px;
	color:#333;
	line-height:18px;
	border-bottom:1px dashed #888;
}


/* 其他
----------------------------------*/
.title{
	margin:0 0 10px 0;
	padding:0 0 5px 0;
	border-bottom:2px solid #e5e5e5;
	color:#555;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
}

.page{
	text-align:right;
}
.page .page_pp{
	text-decoration:none;
	line-height:50px;
}
.page .page_p{
	text-decoration:none;
	line-height:50px;
}
.page .page_n{
	text-decoration:none;
	line-height:50px;
}
.page .page_nn{
	text-decoration:none;
	line-height:50px;
}
.page .page_num{
	text-decoration:none;
	font-size:15px;
	color:#555;
	line-height:50px;
}
.page .page_num:hover{
	color:#ff6c00;
}

.appfile_box{
	margin:5px 0;
	padding:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#fcf3e9;
}
.appfile_box span{
	color:#b95a5a;
}